#bt{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: rgb(100, 12, 12);
    background-color: #2e0606;
    box-shadow: #130202; 
}

#bt2{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: rgb(0, 132, 255);
    background-color: #060c41;
    box-shadow: #130202;    
}

#bt3{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    box-shadow: #130202;    
}